{% extends "game/base.html" %}
{% load crispy_forms_tags %} <!--import Django Crispy Forms-->
{% load custom_tags %}
{% load static %}
{% block content %}
<!-- import jQuery -->
<!-- <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>  -->

<h2>Step Three: Bidding</h2>
<h4>
    You can sell your available generation capacity at the power exchange by placing bids.<br>
    At the end of the round the market will be cleared: Starting with the lowest price, bids will be accepted until the demand is satisfied.
    All accepted bids will receive the clearing price!
</h4>
<br>
    <!-- Market Overview -->
    <h4>Demand forecast</h4>
    <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">Demand (current round)</th>
            <th scope="col">Demand t+1</th>
            <th scope="col">Demand t+2</th>
            </tr>
        </thead>
        <tbody>
            <tr scope="row">
                <td>{{ demand }} MWh</td>
                <td>{{ demand_forecast_plus1 }} MWh</td> 
                <td>{{ demand_forecast_plus2 }} MWh</td> 
            </tr>
        </tbody>
    </table> 

    <h4 class="d-inline-flex gap-1">Technology Data:</h4>
    <p class="d-inline-flex gap-1">
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Click here to view the detailed cost and capacity data for each generation technology unit
        </button>
    </p>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                    <th scope="col">Technology</th>
                    <th scope="col">Capacity per Unit [MW]</th>
                    <th scope="col">Investement Cost per Unit [€]</th>
                    <th scope="col">Build Time [t]</th>
                    <th scope="col">Operation Time [t]</th>
                    <th scope="col">Fixed Cost [€/Unit]</th>
                    <th scope="col">Fuel Cost [€/MWh_el]</th>
                    <th scope="col">Carbon Content [t/MWh_el]</th>
                    <th scope="col">Carbon Cost [€/MWh_el]</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in datas %}
                    <tr scope="row">
                        <td>{{ data.technology }}</td>
                        <td>{{ data.capacity }}</td> 
                        <td>{{ data.investment_cost }}</td> 
                        <td>{{ data.build_time }}</td> 
                        <td>{{ data.operation_time }}</td> 
                        <td>{{ data.fixed_cost }}</td> 
                        <td>{{ data.fuel_cost }}</td> 
                        <td>{{ data.carbon_content }}</td>
                        <td>{% multiply data.carbon_content carbon_price as carbon_cost %} {{ carbon_cost|floatformat:2 }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <h3>Total Available Capacity</h3>
    <!--Kapazitäten Kummuliert Tabelle-->
    <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">Technology</th>
            <th scope="col">Total available Capacity (CF applied)</th>
            <th scope="col">Remaining available Capacity for bidding </th>
            </tr>
        </thead>
        <tbody>
            {% for key, value in capsum.items %} 
            <tr scope="row">
                <td>{{ key }}</td>
                <td>{{ value }} MW</td>
                <td>{{ remaining_cap|dict_key:key }} MW</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>


    <legend class="border-bottom mb-4">
        Place Bid: Choose a generation technology and enter the price and the capacity. <br>
    </legend>
    <!-- Select Technology Image Buttons -->
    <div class="button-container d-inline-block me-2" id="select-button-coal" data-technology="Coal">
        <button class="btn btn-md btn-outline-secondary">
            <img src="{% static '/images/coal.jpg' %}" class="img-fluid" style="height: 60px; width: auto;">
        </button>
    </div>
    <div class="button-container d-inline-block me-2" id="select-button-wind" data-technology="Wind">
        <button class="btn btn-md btn-outline-secondary">
            <img src="{% static '/images/wind.jpg' %}" class="img-fluid" style="height: 60px; width: auto;">
        </button>
    </div>
    <div class="button-container d-inline-block me-2" id="select-button-solar" data-technology="Solar">
        <button class="btn btn-md btn-outline-secondary">
            <img src="{% static '/images/solar.jpg' %}" class="img-fluid" style="height: 60px; width: auto;">
        </button>
    </div>
    <div class="button-container d-inline-block me-2" id="select-button-nuclear" data-technology="Nuclear">
        <button class="btn btn-md btn-outline-secondary">
            <img src="{% static '/images/nuclear.jpg' %}" class="img-fluid" style="height: 60px; width: auto;">
        </button>
    </div>
    <div class="button-container d-inline-block me-2" id="select-button-ccgt" data-technology="CCGT">
        <button class="btn btn-md btn-outline-secondary">
            <img src="{% static '/images/ccgt.jpg' %}" class="img-fluid" style="height: 60px; width: auto;">
        </button>
    </div>

    <!-- Select Technology JS -->
    <script>
        $(document).ready(function () {
            // Handle the click event of the specific buttons
            $('#select-button-coal, #select-button-wind, #select-button-solar, #select-button-nuclear, #select-button-ccgt').on('click', function () {
                // Set the selected technology based on the button clicked
                var selectedTechnology = $(this).data('technology');
                $('#id_technology').val(selectedTechnology);

                // Trigger the change event to update dynamic content
                $('#id_technology').trigger('change');
            });
        });
    </script>

    <!-- Formular Gebotsabgabe -->
    <div>
        <form method="POST">
            <fieldset class="form-group">
                {% csrf_token %}
                {{ form_bidding|crispy }} 
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit" onclick="return confirm('Are you sure?');" name="bidbtn">Place Bid</button>
            </div>
        </form>
    </div>
    <br>

    <div class="accordion" id="accordionBids">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <strong><h5>Bids placed this round</h5></strong>
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionBids">
                <div class="accordion-body">
                    <!--Bidding Table-->
                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Technology</th>
                            <th scope="col">Price</th>
                            <th scope="col">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for b in bids %}
                            <tr scope="row">
                                <td>{{ b.id}}</td>
                                <td>{{ b.technology}}</td>
                                <td>{{ b.price}} €/MWh</td>  
                                <td>{{ b.amount}} MW</td> 
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Formular Gebote Löschen -->
    <div>
        <form method="POST">
            <fieldset class="form-group">
            {% csrf_token %}
                <legend class="border-bottom mb-4">Delete Bid: Changed your mind? You can delete any bids placed this round.</legend>
                {{ form_deletebid|crispy }} 
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info mt-2" type="submit" onclick="return confirm('Are you sure?');" name="dltbidbtn">Confirm Deletion</button>
            </div>
        </form>
    </div>

    <br>
    <h2>Step Four: Ready up!</h2>
    <!-- Ready for next Round -->
    <div style="clear:both">
        <form method="POST" >
            <fieldset class="form-group">
            {% csrf_token %}
                <legend class="border-bottom mb-2">
                    If you are done and ready for the next round, please press the button below!
                </legend>
                {{ form_playerready|crispy }} 
            </fieldset>
            <div class="form-group">
                <button class="btn btn-success mt-2 mb-4" type="submit" onclick="return confirm('Are you sure? Once you are ready, you can not make anymore actions until the next round!');" name="constructbtn">I am Ready!</button>
                <!-- Go Back Button -->
                <a  class="btn btn-secondary mt-2 mb-4" role="button" onclick="history.back()" style="float:right; ">Go Back</a>
            </div>
        </form>
    </div>

    
    
{% endblock content%}