{% extends "game/base.html" %}
{% load crispy_forms_tags %} <!--import Django Crispy Forms-->
{% block content %}

<h2>Bauaufträge</h2>
<!--Kraftwerkspark Tabelle-->
<table class="table table-striped">
    <thead>
        <tr>
        <th scope="col">ID</th>
        <th scope="col">Technology</th>
        <th scope="col">Verbleibende Bauzeit in Runden</th>
        </tr>
    </thead>
    <tbody>
        {% for con in constructions %}
        <tr scope="row">
            <td>{{ con.id}}</td>
            <td>{{ con.technology}}</td> 
            <td>{{ con.until_constructed}}</td> 
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content%}