{% extends "game/base.html" %}
{% load crispy_forms_tags %} <!--import Django Crispy Forms-->
{% load static %}
{% load custom_tags %}
{% block content %}

    <h1>{{ user.username }}'s Player Profile</h1>
    <a  class="btn btn-light mb-4" role="button" onClick="window.location.reload();" >Refresh Page</a><br>
    <h3>Joined Game: {{ game }} <br> Total Number of Players: {{ player_count }}</h3>
    <h3><strong>Round: {{ round|floatformat }} of {{ max_round|floatformat }}</strong></h3>
    
    <!--Profile Tabelle-->
    <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">Budget</th>
            <th scope="col">Revenue</th>
            <th scope="col">Total Cost</th>
            <th scope="col">Profit (total)</th>
            </tr>
        </thead>
        <tbody>
            {% for p in profiles %}
            <tr scope="row">
                <td>{{ p.budget}}€</td>
                <td>{{ p.revenue}}€</td> 
                <td>{{ p.total_cost}}€</td> 
                <td>{{ p.profit}}€</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Market Overview -->
    <h4>Demand and Weather forecast</h4>
    <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">Demand (current round)</th>
            <th scope="col">Demand t+1</th>
            <th scope="col">Demand t+2</th>
            </tr>
        </thead>
        <tbody>
            <tr scope="row">
                <td>{{ demand }} MWh</td>
                <td>{{ demand_forecast_plus1 }} MWh</td> 
                <td>{{ demand_forecast_plus2 }} MWh</td> 
            </tr>
        </tbody>
    </table>    
    <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">Capacity Factor Wind (current round)</th>
            <th scope="col">Capacity Factor Solar (current round)</th>
            <th scope="col">Capacity Factor Wind t+1</th>
            <th scope="col">Capacity Factor Solar t+1</th>
            <th scope="col">Capacity Factor Wind t+2</th>
            <th scope="col">Capacity Factor Solar t+2</th>
            </tr>
        </thead>
        <tbody>
            <tr scope="row">
                <td>{{ cf_wind }} </td>
                <td>{{ cf_solar }} </td> 
                <td>{{ cf_wind_forecast_plus1 }} </td> 
                <td>{{ cf_solar_forecast_plus1 }} </td> 
                <td>{{ cf_wind_forecast_plus2 }} </td> 
                <td>{{ cf_solar_forecast_plus2 }} </td> 
            </tr>
        </tbody>
    </table>
    
    <h4>Carbon Price</h4>
    <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">Current Price per t of CO2</th>
            <th scope="col">Minimum Price per t of CO2</th>
            <th scope="col">Maximum Price per t of CO2</th>
            </tr>
        </thead>
        <tbody>
            <tr scope="row">
                <td>{{ carbon_price }}€</td>
                <td>0,00€</td>
                <td>{{ carbon_price_max }}€</td>
            </tr>
        </tbody>
    </table>
    <div>
        <h5>The Carbon Price changes each round based on the total amount of CO2 emitted in the previous round.</h5>
    </div>
    <br>
    
    <h2>Generation System</h2>
    <h4 class="d-inline-flex gap-1">Technology Data: </h4>
    <p class="d-inline-flex gap-1">
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Click here to view the detailed cost and capacity data for each generation technology unit
        </button>
    </p>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                    <th scope="col">Technology</th>
                    <th scope="col">Capacity per Unit [MW]</th>
                    <th scope="col">Investement Cost per Unit [€]</th>
                    <th scope="col">Build Time [t]</th>
                    <th scope="col">Operation Time [t]</th>
                    <th scope="col">Fixed Cost [€/Unit]</th>
                    <th scope="col">Fuel Cost [€/MWh_el]</th>
                    <th scope="col">Carbon Content [t/MWh_el]</th>
                    <th scope="col">Carbon Cost [€/MWh_el]</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in datas %}
                    <tr scope="row">
                        <td>{{ data.technology }}</td>
                        <td>{{ data.capacity }}</td> 
                        <td>{{ data.investment_cost }}</td> 
                        <td>{{ data.build_time }}</td> 
                        <td>{{ data.operation_time }}</td> 
                        <td>{{ data.fixed_cost }}</td> 
                        <td>{{ data.fuel_cost }}</td> 
                        <td>{{ data.carbon_content }}</td>
                        <td>{% multiply data.carbon_content carbon_price as carbon_cost %} {{ carbon_cost|floatformat:2 }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="accordion" id="accordionGensys">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <h5><strong>All available Power Plants</strong></h5>
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionGensys">
                <div class="accordion-body">
                    <!--Generation System Table-->
                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Technology</th>
                            <th scope="col">Capacity</th>
                            <th scope="col">Remaining Lifetime (rounds)</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for gen in generation_systems %}
                            <tr scope="row">
                                <td>{{ gen.id}}</td>
                                <td>{{ gen.technology}}</td>
                                <td>{{ gen.capacity}}</td>  
                                <td>{{ gen.until_decommissioned}}</td> 
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>                
                </div>
            </div>
        </div>    
    </div>

    <br>
    <h3><strong>Step One: Decommission.</strong></h3>
    <h5></h5>
        <!-- Form Desommission -->
        <div>
            <form method="POST">
                <fieldset class="form-group">
                {% csrf_token %}
                    <legend class="border-bottom mb-4">
                        Here you can decommission power plants that you no longer wish to keep in your portfolio.<br>
                        The chosen power plant will be <strong>immediately removed</strong> from your generation system and can no longer be used for production!
                    </legend>
                    {{ form_decommission|crispy }} 
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info mt-2" type="submit" onclick="return confirm('Are you sure?');" name="decommbtn" data-bs-toggle="tooltip" title="The Generation Unit will be removed from your Generation System!">Confirm Decommission</button>
                </div>
            </form>
        </div>
    <br>

    <h3><strong>Step Two: Construction.</strong></h3>
    <legend class="border-bottom mb-4">
        You can use your available budget to build new generators. <br>
        Choose a technology to order construction of generation units. Investment costs are not refundable!
        <br>
    </legend>
    
    <!-- Select Technology Image Buttons -->
    <div class="button-container d-inline-block me-2" id="select-button-coal">
        <button class="btn btn-md btn-outline-secondary">
            <img src="{% static '/images/coal.jpg' %}" class="img-fluid" style="height: 60px; width: auto;">
        </button>
    </div>
    <div class="button-container d-inline-block me-2" id="select-button-wind">
        <button class="btn btn-md btn-outline-secondary">
            <img src="{% static '/images/wind.jpg' %}" class="img-fluid" style="height: 60px; width: auto;">
        </button>
    </div>
    <div class="button-container d-inline-block me-2" id="select-button-solar">
        <button class="btn btn-md btn-outline-secondary">
            <img src="{% static '/images/solar.jpg' %}" class="img-fluid" style="height: 60px; width: auto;">
        </button>
    </div>
    <div class="button-container d-inline-block me-2" id="select-button-nuclear">
        <button class="btn btn-md btn-outline-secondary">
            <img src="{% static '/images/nuclear.jpg' %}" class="img-fluid" style="height: 60px; width: auto;">
        </button>
    </div>
    <div class="button-container d-inline-block me-2" id="select-button-ccgt">
        <button class="btn btn-md btn-outline-secondary">
            <img src="{% static '/images/ccgt.jpg' %}" class="img-fluid" style="height: 60px; width: auto;">
        </button>
    </div>

    <!-- Select Technology JS -->
    <script>
        $(document).ready(function () {
            $("#select-button-coal").on("click", function () {
                var selectedValue = "Coal"; // Replace with the desired value
                // Update the value of the ModelChoiceField
                $("#id_technology").val(selectedValue);
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            // Handle the click event of the 'select-button'
            $('#select-button-coal').on('click', function () {
                var selectedValue = $('#id_technology').val();
                // Perform an AJAX request to fetch dynamic content based on the selected value
                jQuery.ajax({
                    url: 'get_dynamic_content/',  // Replace with the actual URL
                    data: { selected_value: selectedValue },
                    success: function (data) {
                        $('#investment_cost').html(data.investment_cost);
                        $('#build_time').html(data.build_time);
                    }
                });
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#select-button-wind").on("click", function () {
                var selectedValue = "Wind"; // Replace with the desired value
                // Update the value of the ModelChoiceField
                $("#id_technology").val(selectedValue);
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            // Handle the click event of the 'select-button'
            $('#select-button-wind').on('click', function () {
                var selectedValue = $('#id_technology').val();
                // Perform an AJAX request to fetch dynamic content based on the selected value
                jQuery.ajax({
                    url: 'get_dynamic_content/',  // Replace with the actual URL
                    data: { selected_value: selectedValue },
                    success: function (data) {
                        $('#investment_cost').html(data.investment_cost);
                        $('#build_time').html(data.build_time);
                    }
                });
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#select-button-solar").on("click", function () {
                var selectedValue = "Solar"; // Replace with the desired value
                // Update the value of the ModelChoiceField
                $("#id_technology").val(selectedValue);
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            // Handle the click event of the 'select-button'
            $('#select-button-solar').on('click', function () {
                var selectedValue = $('#id_technology').val();
                // Perform an AJAX request to fetch dynamic content based on the selected value
                jQuery.ajax({
                    url: 'get_dynamic_content/',  // Replace with the actual URL
                    data: { selected_value: selectedValue },
                    success: function (data) {
                        $('#investment_cost').html(data.investment_cost);
                        $('#build_time').html(data.build_time);
                    }
                });
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#select-button-nuclear").on("click", function () {
                var selectedValue = "Nuclear"; // Replace with the desired value
                // Update the value of the ModelChoiceField
                $("#id_technology").val(selectedValue);
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            // Handle the click event of the 'select-button'
            $('#select-button-nuclear').on('click', function () {
                var selectedValue = $('#id_technology').val();
                // Perform an AJAX request to fetch dynamic content based on the selected value
                jQuery.ajax({
                    url: 'get_dynamic_content/',  // Replace with the actual URL
                    data: { selected_value: selectedValue },
                    success: function (data) {
                        $('#investment_cost').html(data.investment_cost);
                        $('#build_time').html(data.build_time);
                    }
                });
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#select-button-ccgt").on("click", function () {
                var selectedValue = "CCGT"; // Replace with the desired value
                // Update the value of the ModelChoiceField
                $("#id_technology").val(selectedValue);
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            // Handle the click event of the 'select-button'
            $('#select-button-ccgt').on('click', function () {
                var selectedValue = $('#id_technology').val();
                // Perform an AJAX request to fetch dynamic content based on the selected value
                jQuery.ajax({
                    url: 'get_dynamic_content/',  // Replace with the actual URL
                    data: { selected_value: selectedValue },
                    success: function (data) {
                        $('#investment_cost').html(data.investment_cost);
                        $('#build_time').html(data.build_time);
                    }
                });
            });
        });
    </script>

    <!-- Form Construction -->
    <div>
        <form method="POST">
            <fieldset class="form-group">
                {% csrf_token %}
                {{ form_construction|crispy }} 
            </fieldset>
            <ul class="list-group mb-4 mt-4">
                <li class="list-group-item">Budget (€): {% for p in profiles %} {{p.budget}} {% endfor %}</li>
                <li class="list-group-item">Investment Cost per Unit (€): <div id="investment_cost" style="display:inline;"></div></li>
                <li class="list-group-item">Constructon Time (rounds): <div id="build_time" style="display:inline;"></div></li>
            </ul>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit" onclick="return confirm('Are you sure?');" name="constructbtn" data-toggle="tooltip" title="Investment Cost is not refundable!">Confirm Construction</button>
            </div>
        </form>
    </div>
    <br>

    
    <!-- JavaScript -->
    <script>
        $(document).ready(function () {
            // Handle the change event of the 'technology' field
            $('#id_technology').on('change', function () {
                var selectedValue = $(this).val();
                // Perform an AJAX request to fetch dynamic content based on the selected value
                jQuery.ajax({
                    url: 'get_dynamic_content/',  // Replace with the actual URL
                    data: { selected_value: selectedValue },
                    success: function (data) {
                        $('#investment_cost').html(data.investment_cost);
                        $('#build_time').html(data.build_time);
                    }
                });
            });
        });
    </script>

<div class="accordion" id="accordionConstruct">
    <div class="accordion-item"> 
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                <h5><strong>All active Construction Orders</strong></h5>
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse show" data-bs-parent="#accordionConstruct">
            <div class="accordion-body">
                <!--Construction Table-->
                <table class="table table-striped">
                    <thead>
                        <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Technology</th>
                        <th scope="col">Remaining Construction Time (rounds)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for con in constructions %}
                        <tr scope="row">
                            <td>{{ con.id}}</td>
                            <td>{{ con.technology}}</td> 
                            <td>{{ con.until_constructed}}</td> 
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

    
    <a  href="{% url 'users-bidding' %}" class="btn btn-success mb-4" role="button" style="float:left; margin-right:100px;">Continue to Step Three: Bidding</a>

    
    <!-- Go Back Button -->
    <a  class="btn btn-secondary mb-4" role="button" onclick="history.back()" style="float:right;">Go Back</a>

{% endblock content%}