{% extends "game/base.html" %}
{% load crispy_forms_tags %} <!--import Django Crispy Forms-->
{% block content %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script> <!--import jQuery -->

    <h1>{{ user.username }}'s Profile</h1>
    <a  class="btn btn-light mb-4" role="button" onClick="window.location.reload();" >Refresh Page</a><br>
    <h3 style="float:left; ">Joined Game: {{ game }}</h3>
    <h3 style="float:right;margin-right:500px;">Round: {{ round|floatformat }}</h3>

    <!--Profile Tabelle-->
    <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">Budget</th>
            <th scope="col">Revenue</th>
            <th scope="col">Total Cost</th>
            <th scope="col">Profit (total)</th>
            </tr>
        </thead>
        <tbody>
            {% for p in profiles %}
            <tr scope="row">
                <td>{{ p.budget}}€</td>
                <td>{{ p.revenue}}€</td> 
                <td>{{ p.total_cost}}€</td> 
                <td>{{ p.profit}}€</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Market Overview -->
    <h4>Demand and Weather forecast</h4>
    <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">Demand (current round)</th>
            <th scope="col">Demand t+1</th>
            <th scope="col">Demand t+2</th>
            </tr>
        </thead>
        <tbody>
            <tr scope="row">
                <td>{{ demand }} MWh</td>
                <td>{{ demand_forecast_plus1 }} MWh</td> 
                <td>{{ demand_forecast_plus2 }} MWh</td> 
            </tr>
        </tbody>
    </table>    
    <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">Capacity Factor Wind (current round)</th>
            <th scope="col">Capacity Factor Solar (current round)</th>
            <th scope="col">Capacity Factor Wind t+1</th>
            <th scope="col">Capacity Factor Solar t+1</th>
            <th scope="col">Capacity Factor Wind t+2</th>
            <th scope="col">Capacity Factor Solar t+2</th>
            </tr>
        </thead>
        <tbody>
            <tr scope="row">
                <td>{{ cf_wind }} </td>
                <td>{{ cf_solar }} </td> 
                <td>{{ cf_wind_forecast_plus1 }} </td> 
                <td>{{ cf_solar_forecast_plus1 }} </td> 
                <td>{{ cf_wind_forecast_plus2 }} </td> 
                <td>{{ cf_solar_forecast_plus2 }} </td> 
            </tr>
        </tbody>
    </table>
    
    <h4>Carbon Price</h4>
    <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">Price per t of CO2</th>
            </tr>
        </thead>
        <tbody>
            <tr scope="row">
                <td>{{ carbon_price }}€</td>
            </tr>
        </tbody>
    </table>
    <div>
        <h5>The Carbon Price changes each round based on the total amount of CO2 emitted in the previous round.</h5>
    </div>
    <br>
    
    <h2>Generation System</h2>
    <h5>Click here to view the detailed data for each generation technology, including costs associated with each unit</h5>
    <a  href="{% url 'game-data' %}" class="btn btn-info mb-4" role="button">Display Technology Data</a>
    <h4>All available power plants</h4>
    <!--Generation System Table-->
    <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">ID</th>
            <th scope="col">Technology</th>
            <th scope="col">Capacity</th>
            <th scope="col">Remaining Lifetime (rounds)</th>
            </tr>
        </thead>
        <tbody>
            {% for gen in generation_systems %}
            <tr scope="row">
                <td>{{ gen.id}}</td>
                <td>{{ gen.technology}}</td>
                <td>{{ gen.capacity}}</td>  
                <td>{{ gen.until_decommissioned}}</td> 
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <br>
    <h3>Step One: Decommission.</h3>
    <h5></h5>
        <!-- Form Desommission -->
        <div>
            <form method="POST">
                <fieldset class="form-group">
                {% csrf_token %}
                    <legend class="border-bottom mb-4">
                        You can decommission power plants that are no longer needed.<br>
                        They will be immediately deleted from your Generation System can no longer be used!
                    </legend>
                    {{ form_decommission|crispy }} 
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit" onclick="return confirm('Are you sure?');" name="decommbtn" data-toggle="tooltip" title="The Generation Unit will be removed from your Generation System!">Confirm Decommission</button>
                </div>
            </form>
        </div>
    
    <br>
    <h3>Step Two: Construction.</h3>
    
    <!-- Form Construction -->
    <div>
        <form method="POST">
            <fieldset class="form-group">
            {% csrf_token %}
                <legend class="border-bottom mb-4">
                    New Construction Order: You can use your available budget to build new generators. 
                    Choose a technology to order construction of one generation unit. Investment costs are not refundable.
                </legend>
                {{ form_construction|crispy }} 
            </fieldset>
            <ul class="list-group mb-4">
                <li class="list-group-item">Budget (€): {% for p in profiles %} {{p.budget}} {% endfor %}</li>
                <li class="list-group-item">Investment Cost per Unit (€): <div id="investment_cost" style="display:inline;"></div></li>
                <li class="list-group-item">Constructon Time (rounds): <div id="build_time" style="display:inline;"></div></li>
            </ul>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit" onclick="return confirm('Are you sure?');" name="constructbtn" data-toggle="tooltip" title="Investment Cost is not refundable!">Confirm Construction</button>
            </div>
        </form>
    </div>
    <br>
    <!-- JavaScript -->
    <script>
        $(document).ready(function () {
            // Handle the change event of the 'technology' field
            $('#id_technology').on('change', function () {
                var selectedValue = $(this).val();
                // Perform an AJAX request to fetch dynamic content based on the selected value
                jQuery.ajax({
                    url: 'get_dynamic_content/',  // Replace with the actual URL
                    data: { selected_value: selectedValue },
                    success: function (data) {
                        $('#investment_cost').html(data.investment_cost);
                        $('#build_time').html(data.build_time);
                    }
                });
            });
        });
    </script>

    <h3>All active Construction Orders</h3>
    <!--Construction Table-->
    <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">ID</th>
            <th scope="col">Technology</th>
            <th scope="col">Remaining Construction Time (rounds)</th>
            </tr>
        </thead>
        <tbody>
            {% for con in constructions %}
            <tr scope="row">
                <td>{{ con.id}}</td>
                <td>{{ con.technology}}</td> 
                <td>{{ con.until_constructed}}</td> 
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    

    
    <a  href="{% url 'users-bidding' %}" class="btn btn-primary mb-4" role="button" style="float:left; margin-right:100px;">Continue to Step Three: Bidding</a>

    
    <!-- Go Back Button -->
    <a  class="btn btn-secondary mb-4" role="button" onclick="history.back()" style="float:right;">Go Back</a>

{% endblock content%}