{% extends "game/base.html" %}
{% load crispy_forms_tags %} <!--import Django Crispy Forms-->
{% block content %}

    <h1>{{ user.username }}'s Profile</h1>
    <h1>Gamemaster View</h1>
    <h3>Round: {{ round }}</h3>
    <!-- Next Round Form -->
    <div>
        <form method="POST">
            <fieldset class="form-group">
            {% csrf_token %}
                <legend class="border-bottom mb-4">End Current Round, Initialize Price Setting and Start the next Round</legend>
                {{ form_nextround|crispy }} 
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit" onclick="return confirm('Are you sure?');" name="nxtrndbtn" >Start Next Round</button>
            </div>
        </form> 
    </div>
    <!-- Settings -->
    <h3>Current Settings</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Setting</th>
                <th scope="col">Value</th>
            </tr>
        </thead>
        <tbody>
            {% for s in settings %}
            <tr scope="row">
                <td>{{ s.name }}</td>
                <td>{{ s.value }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>    

    <!-- Settings Form -->
    <div>
        <form method="POST">
            <fieldset class="form-group">
            {% csrf_token %}
                <legend class="border-bottom mb-4">Update Settings</legend>
                {{ form_settings|crispy }} 
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit" onclick="return confirm('Are you sure?');" name="setngsbtn">Confirm Settings</button>
            </div>
        </form>
    </div>

    <h3>Player Profiles</h3>
    <!--Profile Tabelle-->
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">User ID</th>
                <th scope="col">Budget</th>
                <th scope="col">Revenue</th>
                <th scope="col">Total Cost</th>
                <th scope="col">Profit</th>
            </tr>
        </thead>
        <tbody>
            {% for p in profiles %}
            <tr scope="row">
                <td>{{ p.user_id}}</td>
                <td>{{ p.budget}}€</td>
                <td>{{ p.revenue}}€</td> 
                <td>{{ p.total_cost}}€</td> 
                <td>{{ p.profit}}€</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Kraftwerkspark (Alle Spieler)</h2>
    <!--Kraftwerkspark Tabelle-->
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">User ID</th>
                <th scope="col">ID</th>
                <th scope="col">Technology</th>
                <th scope="col">Verbleibende Laufzeit in Runden</th>
            </tr>
        </thead>
        <tbody>
            {% for gen in generation_systems %}
            <tr scope="row">
                <td>{{ gen.user_id}}</td>
                <td>{{ gen.id}}</td>
                <td>{{ gen.technology}}</td> 
                <td>{{ gen.until_decommissioned}}</td> 
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Bauaufträge</h2>
    <!--Kraftwerkspark Tabelle-->
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">User ID</th>
                <th scope="col">ID</th>
                <th scope="col">Technology</th>
                <th scope="col">Verbleibende Bauzeit in Runden</th>
            </tr>
        </thead>
        <tbody>
            {% for con in constructions %}
            <tr scope="row">
                <td>{{ con.user_id}}</td>
                <td>{{ con.id}}</td>
                <td>{{ con.technology}}</td> 
                <td>{{ con.until_constructed}}</td> 
            </tr>
            {% endfor %}
        </tbody>
    </table>

        <!-- Bids -->
        <h2>Bids (All Players)</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">User ID</th>
                    <th scope="col">Technology</th>
                    <th scope="col">Price €/MWh</th>
                    <th scope="col">Capacity MW</th>
                </tr>
            </thead>
            <tbody>
                {% for b in bids %}
                <tr scope="row">
                    <td>{{ b.user_id }}</td>
                    <td>{{ b.technology }}</td>
                    <td>{{ b.price }}</td>
                    <td>{{ b.amount }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>  
{% endblock content%}