{% extends "game/base.html" %}
{% load crispy_forms_tags %} <!--import Django Crispy Forms-->
{% block content %}

    <h1>{{ user.username }}'s Profile</h1>
    <h1>Gamemaster Control Center</h1>
    <a  class="btn btn-light mb-4" role="button" onClick="window.location.reload();">Refresh Page</a>
    <h3>Currently hosting {{ hosted_game }}</h3><br>
    
    <!-- Start/End Game Form -->
    <div style="float:left; margin-right:100px;">
        <form method="POST">
            <fieldset class="form-group">
            {% csrf_token %}
                <legend class="border-bottom mb-4">Start or End the Game</legend>
                {{ form_startend|crispy }} 
            </fieldset>
            <div class="form-group">
                {% if not hosted_game.ready %}
                <button class="btn btn-outline-info" type="submit" onclick="return confirm('Are you sure?');" >Start Game</button>
                {% else %}
                <button class="btn btn-outline-info" type="submit" onclick="return confirm('Are you sure?');" >End Game</button>
                {% endif %}
            </div>
        </form> 
    </div>

    <!-- Delete Game Form -->
    {% if not hosted_game.ready %}
        <div style="float:middle">
            <form method="POST">
                <fieldset class="form-group">
                {% csrf_token %}
                    <legend class="border-bottom mb-4">Delete Game</legend>
                    {{ form_deletegame|crispy }} 
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit" onclick="return confirm('Are you sure?');" >Delete Game</button>
                </div>
            </form> 
        </div>
    {% endif %}
    <br>
    <h3 style="clear:both">Round: {{ round }}</h3>

    <!-- Next Round Form -->
    {% if hosted_game.ready %}
    <div style="clear:both">
        <form method="POST">
            <fieldset class="form-group">
            {% csrf_token %}
                <legend class="border-bottom mb-4">End Current Round, Initialize Price Setting and Start the next Round</legend>
                {{ form_nextround|crispy }} 
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit" onclick="return confirm('Are you sure?');" name="nxtrndbtn" >Start Next Round</button>
            </div>
        </form> 
    </div>
    {% endif %}
    <br>
    <!-- Settings -->
    <h3>Game Settings</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Setting</th>
                <th scope="col">Value</th>
            </tr>
        </thead>
        <tbody>
            {% for s in settings %}
            <tr scope="row">
                <td>{{ s.name }}</td>
                <td>{{ s.value }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>    

    <!-- Settings Form -->
    <div>
        <form method="POST">
            <fieldset class="form-group">
            {% csrf_token %}
                <legend class="border-bottom mb-4">Update Settings</legend>
                {{ form_settings|crispy }} 
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit" onclick="return confirm('Are you sure?');" name="setngsbtn">Confirm Settings</button>
            </div>
        </form>
    </div>
    
    <!-- Export Data Form -->
    {% if hosted_game.ready %}
    <div style="clear:both">
        <form method="POST">
            <fieldset class="form-group">
            {% csrf_token %}
                <legend class="border-bottom mb-4">Export Game Data</legend>
                Press the button below to export all game data of the current round for further analysis.
                {{ form_ex|crispy }} 
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit" onclick="return confirm('Are you sure?');" name="nxtrndbtn" >Export</button>
            </div>
        </form> 
    </div>
    {% endif %}

    <h3>Joined Players</h3>
    <!--Profile Tabelle-->
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">User ID</th>
                <th scope="col">Budget</th>
                <th scope="col">Revenue</th>
                <th scope="col">Total Cost</th>
                <th scope="col">Profit</th>
                <th scope="col">Ready for next round?</th>
            </tr>
        </thead>
        <tbody>
            {% for p in profiles %}
            <tr scope="row">
                <td>{{ p.user_id}}</td>
                <td>{{ p.budget}}€</td>
                <td>{{ p.revenue}}€</td> 
                <td>{{ p.total_cost}}€</td> 
                <td>{{ p.profit}}€</td>
                <td>{{ p.ready}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Remove Player Form -->
    <div>
        <form method="POST">
            <fieldset class="form-group">
            {% csrf_token %}
                <legend class="border-bottom mb-4">Remove a Player from the Game</legend>
                {{ form_removeplayer|crispy }} 
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit" onclick="return confirm('Are you sure?');" name="setngsbtn">Confirm Removal</button>
            </div>
        </form>
    </div>

    <h2>All Generation Systems</h2>
    <!--Kraftwerkspark Tabelle-->
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">User ID</th>
                <th scope="col">ID</th>
                <th scope="col">Technology</th>
                <th scope="col">Verbleibende Laufzeit in Runden</th>
            </tr>
        </thead>
        <tbody>
            {% for gen in generation_systems %}
            <tr scope="row">
                <td>{{ gen.user_id}}</td>
                <td>{{ gen.id}}</td>
                <td>{{ gen.technology}}</td> 
                <td>{{ gen.until_decommissioned}}</td> 
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Construction Orders</h2>
    <!--Kraftwerkspark Tabelle-->
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">User ID</th>
                <th scope="col">ID</th>
                <th scope="col">Technology</th>
                <th scope="col">Verbleibende Bauzeit in Runden</th>
            </tr>
        </thead>
        <tbody>
            {% for con in constructions %}
            <tr scope="row">
                <td>{{ con.user_id}}</td>
                <td>{{ con.id}}</td>
                <td>{{ con.technology}}</td> 
                <td>{{ con.until_constructed}}</td> 
            </tr>
            {% endfor %}
        </tbody>
    </table>

        <!-- Bids -->
        <h2>Bids</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">User ID</th>
                    <th scope="col">Technology</th>
                    <th scope="col">Price €/MWh</th>
                    <th scope="col">Capacity MW</th>
                </tr>
            </thead>
            <tbody>
                {% for b in bids %}
                <tr scope="row">
                    <td>{{ b.user_id }}</td>
                    <td>{{ b.technology }}</td>
                    <td>{{ b.price }}</td>
                    <td>{{ b.amount }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>  
{% endblock content%}