<!DOCTYPE html>
<html lang="en">
<!-- CSS -->
<style>
  body {
    /* Padding required for fixed-top navbar */
    padding-top: 60px; 
  }
  .negative-number {
    /* Display negativ values red */
    color: red !important;
  }
  .positv-number {
    /* Display positv values green */
    color: rgb(2, 180, 13) !important;
  }
  .indicator {
    /* Add a blue border for visibility */
    border: 2px solid blue; 
  }
</style>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Jquery, Bootstrap CSS -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <!-- Include Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- Title -->
    {% if title %}
    <title>EMG - {{ title }}</title>
    {% else %}
    <title>EMG</title>
    {% endif %}
</head>
<body >
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
          <div class="container">
            <a class="navbar-brand mr-4" href="{% url 'game-home' %}">EMG</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
              <!-- Navbar Left Side -->
              <div class="navbar-nav me-auto">
                <a class="nav-item nav-link" href="{% url 'game-home' %}">Home</a> 
                <a class="nav-item nav-link" href="{% url 'game-about' %}">About</a>
                <a class="nav-item nav-link" href="{% url 'admin:index' %}">Admin</a>
              </div>
              <!-- Navbar Right Side -->
              <div class="navbar-nav"> <!-- depends on login status -->
                {% if user.is_authenticated %} <!-- View while logged in -->
                  {% if user.is_staff %}<!-- View while staff member -->
                  <a class="nav-item nav-link" href="{% url 'users-staff_new_game' %}">New Game</a>
                  <a class="nav-item nav-link" href="{% url 'users-overview' %}">Last Round Results</a>
                  <a class="nav-item nav-link" href="{% url 'users-staff_profile' %}">Control Center</a>
                  <a class="nav-item nav-link" href="{% url 'users-logout' %}">Logout</a>
                  {% else %}
                  <a class="nav-item nav-link" href="{% url 'users-join_game' %}">Join Game</a>
                  <a class="nav-item nav-link" href="{% url 'users-overview' %}">Last Round Results</a>
                  <a class="nav-item nav-link" href="{% url 'users-profile' %}">Generation System</a>
                  <a class="nav-item nav-link" href="{% url 'users-bidding' %}">Bidding</a>
                  <a class="nav-item nav-link" href="{% url 'users-logout' %}">Logout</a>
                  {% endif %}
                {% else %} <!-- View while logged out-->
                <a class="nav-item nav-link" href="{% url 'users-login' %}">Login</a>
                <a class="nav-item nav-link" href="{% url 'users-register' %}">Register</a> 
                {% endif %}
              </div>
            </div>
          </div>
        </nav>
      </header>
<!-- Alert Messages -->
<main role="main" class="container">
  <div class="row">
    <div class="col-md-12">
      <!--flash massages-->
      {% if messages %} 
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">  <!--messages-->
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
      
      <!-- Content -->
      {% block content %}
      <!--insert content html files-->
      {% endblock %} 
      
    <!-- Sidebar -->
    <!-- </div>
    <div class="col-md-4">
      <div class="content-section">
        <h3>Our Sidebar</h3>
        <p class='text-muted'>You can put any information here you'd like.
          <ul class="list-group">
            <li class="list-group-item list-group-item-light">Latest Posts</li>
            <li class="list-group-item list-group-item-light">Announcements</li>
            <li class="list-group-item list-group-item-light">Calendars</li>
            <li class="list-group-item list-group-item-light">etc</li>
          </ul>
        </p>
      </div>
    </div>
  </div> -->
</main>

</body>
</html>
